/* Poppins-regular-400 */
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/Poppins/Poppins-Regular.ttf') format('trueType');
}
/* Poppins-medium-500 */
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('../../fonts/Poppins/Poppins-Medium.ttf') format('trueType');
}
/* Poppins-bold-700 */
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../../fonts/Poppins/Poppins-Bold.ttf') format('trueType');
}
/* Poppins-dark-900 */
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url('../../fonts/Poppins/Poppins-Black.ttf') format('trueType');
}
/* Noto Sans TC-regular-400 */
@font-face {
    font-display: swap;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/Noto_Sans_TC/NotoSansTC-Regular.otf') format('trueType');
}
/* Noto Sans TC-medium-500 */
@font-face {
    font-display: swap;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    src: url('../../fonts/Noto_Sans_TC/NotoSansTC-Medium.otf') format('trueType');
}
/* Noto Sans TC-bold-700 */
@font-face {
    font-display: swap;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    src: url('../../fonts/Noto_Sans_TC/NotoSansTC-Bold.otf') format('trueType');
}
/* Noto Sans TC-dark-900 */
@font-face {
    font-display: swap;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 900;
    src: url('../../fonts/Noto_Sans_TC/NotoSansTC-Black.otf') format('trueType');
}